BODY {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#panel_container {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

#panel_left {
	overflow: auto;
	flex-grow: 1;
}

#panel_right {
	width: 50%;
	background: #ccc;
	overflow: auto;
	padding-left: 20px;
}

H2 {
	font-variant: small-caps;
}

.btn_large {
	display: block;
	width: 95%;
	height: 3em;
	margin: 5px auto;
	font-weight: bold;
}

.end_good {
	color: green;
	font-weight: bold;
}

.end_bad {
	color: darkred;
	font-weight: bold;
}

/*-----------------------------------------------------------------WAREHOUSE--*/

#warehouse {
	border-collapse: collapse;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#warehouse TD, #warehouse TH {
	border: solid 1px black;
}

/*-----------------------------------------------------------------MINE VIEW--*/

#mine_preview {
	border-collapse: collapse;
	text-align: center;
}

#mine_preview TD {
	font-size: 12px;
	font-weight: bold;
	width: 20px;
	line-height: 20px;
	height: 20px;
	border: solid 1px black;
	overflow: hidden;
	background: white;
	user-select: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.row_index {
	border: none !important;
	text-align: left;
	padding-left: 5px;
	color: #aaa;
	text-shadow: none !important;
}

.tile_dirt {
	/* background: brown !important; */
}

.tile_silver {
	/* background: brown !important; */
	color: deepskyblue;
}

.tile_gold {
	/* background: brown !important; */
	color: gold;
}

.tile_emerald {
	/* background: brown !important; */
	color: greenyellow;
}

.tile_ruby {
	/* background: brown !important; */
	color: pink;
}

.tile_moonstone {
	/* background: brown !important; */
	color: turquoise;
}

.tile_bg {
	background: black !important;
}

.tile_magma {
	/* background: brown !important; */
	color: red;
}

.tile_stone {
	/* background: brown !important; */
	color: #ccc;
}
